@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url(./assets/fonts/PlusJakartaSans-VF.woff2) format("woff2-variations"),
    url(./assets/fonts/PlusJakartaSans-VF.woff) format("woff-variations"),
    url(./assets/fonts/PlusJakartaSans-VF.ttf) format("truetype-variations");
  font-weight: 500 700;
  font-display: swap;
  font-optical-sizing: auto;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --bd-5: 5px;
}

* {
  font-family: 'Plus Jakarta Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--slate-500);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--slate-900);
  margin-block: 40px 5px;
}

#clear {
  text-decoration: underline;
  transition: .2s ease;
}

#clear:hover {
  cursor: pointer;
  color: var(--slate-700);
}

main {
  min-width: 250px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
}

input[type="number"],
input[type="text"] {
  border: none;
  width: 100%;
  padding-inline: 15px;
  font-weight: 700;
  color: var(--slate-900);
}

input[type="number"] {
  border-start-start-radius: var(--bd-5);
  border-end-start-radius: var(--bd-5);
}

input[type="text"] {
  border-start-end-radius: var(--bd-5);
  border-end-end-radius: var(--bd-5);
}

form > div {
  margin-block-start: 10px;
  display: flex;
  height: 50px;
  border: 2px solid var(--slate-300);
  border-radius: var(--bd-5);
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
}

div:has(:user-invalid){
  border: 2px solid var(--red);
  margin-bottom: 40px;
  background-color: var(--red);
}

div:has(:focus) {
  border: 2px solid var(--lime);
}

div:has(:user-invalid)::after {
  content: "This field is required";
  position: absolute;
  padding-top: 55px;
  color: var(--red);
  z-index: -1;
}

input[type="text"]:user-invalid,
input[type="number"]:user-invalid {
  outline: none;
}

span:has(+ input:user-invalid),
input:user-invalid + span {
  background: var(--red);
  color: var(--white);
}

span:has(+ input:focus),
input:focus + span {
  background-color: var(--lime);
  color: var(--slate-900);
}

input:hover {
  cursor: pointer;
}

div:has(:hover) {
  cursor: pointer;
  border: 2px solid var(--slate-700);
  transition: .2s linear;
}

.input-icon,
.input-text {
  width: 15%;
  height: 100%;
  background-color: var(--slate-100);
  display: grid;
  place-content: center;
  font-weight: 700;
  color: var(--slate-700);
  border-start-end-radius: var(--bd-5);
  border-end-end-radius: var(--bd-5);
}

.input-text {
  width: 25%;
}

.input-icon:nth-child(1) {
  border-radius: 0;
  border-start-start-radius: var(--bd-5);
  border-end-start-radius: var(--bd-5);
}

fieldset, label[for] {
  margin-block-start: 20px;
}

fieldset {
  border: 0;
}

legend {
  padding-block-end: 10px;
}

fieldset > label {
  border: 2px solid var(--slate-300);
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--slate-900);
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  border-radius: 5px;
}

small {
  color: var(--red);
}

label:has(:checked) ~ small {
  display: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: hsl(60 69% 55%);
}

label:has(:checked) {
  border-color: var(--lime);
  background-color: hsl(61 70% 52% / 20%);
}

label:has(:hover){
  cursor: pointer;
  border: 2px solid var(--lime);
  transition: .2s linear;
}

button { 
  background-color: var(--lime);
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px;
  border-radius: 30px;
  margin-block: 20px;
  gap: 10px;
  font-weight: 700;
  transition: .25s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: hsl(61 70% 52% / 50%);
}

.results-empty{
  background-color: var(--slate-900);
  padding-block-start: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-empty > img {
  width: 50%;
}

.results-empty > h1 {
  color: var(--white);
  margin-block: 10px 0;
}

.results-empty > p {
  width: 62%;
  text-wrap: pretty;
  text-align: center;
  margin-block: 20px 35px;
}

.results-completed {
  background-color: var(--slate-900);
  padding: 40px 25px;
}

.results-completed > h1 {
  color: var(--white);
  margin-block: 0;
  padding-block-end: 15px;
}

.results-completed > p {
  text-wrap: pretty;
  line-height: 1.5;
}

.results-completed__money {
  width: 100%;
  background-color: hsl(202, 56%, 12%);
  margin-block-start: 35px;
  box-shadow: 0px -4px 0px var(--lime);
  border-radius: 5px;
  padding: 25px 15px;
}

#results-completed__monthly-repay {
  padding-block-start: 15px;
  font-size: 40px;
  font-weight: 700;
  color: var(--lime);
  display: block;
}

#results-completed__repay-term {
  padding-block-start: 15px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  display: block;
}

hr {
  border: 1px solid var(--slate-700);
  margin-block: 20px;
}